article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
    font:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image:url(Images/light_grey.png);
}
/*------------------------------------------------------------
Header
--------------------------------------------------------------*/
#top_header{
	
	padding: 10px;
    height: 80px;
}

#logo {
	vertical-align: middle;
	max-height: 100%;
	position: relative;
	right: -28%;
}

/*------------------------------------------------------------
Navbar
--------------------------------------------------------------*/
nav{
	background-color: #5FBEDB;
	-webkit-box-shadow: 0px 0px 8px 0px #6D91A3;
	-moz-box-shadow: 0px 0px 8px 0px #6D91A3;
	box-shadow: 0px 0px 8px 0px #6D91A3;
	margin-bottom: 0;
	
}

nav a {
	color:#FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 14px;
	text-transform:uppercase;
	font: Tahoma;
    
}

nav a:hover {
	color: #185166;
}
	
/nav a:visited {
	color:#185166;
}

nav li {
	display: inline-block;
	padding: 5px;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
 
  .nav  li {
	width: 100%;
	box-sizing: border-box;
    float: left;
	display: block;
  }
  .nav a {
	width: 100%
    padding: 10px 12px;
	text-align: left;
	margin: 0;
	box-sizing: border-box;
  }
  .nav.pull-right {
    float: right;
    width: auto;
  }
  .nav-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}

@media only screen and (max-width:480px){
	
  nav{
	border-bottom: 0;
}

  nav ul{
	display: none;
	height: auto;
}

  nav a#pull{
	display: block;
	width: 100%
	position: relative;
}
  nav a#pull:after {
    content: "";
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	
}
}
/*--------------------------------------------------------
Carousel
--------------------------------------------------------*/
#hpCarousel{
	margin-top: 0px;	
}

#hpCarousel li img{
    height:335px;
    width:1000px;
    margin-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
	  height: 100%;
      margin: auto;  
}

.carousel-caption h3{
	color:#D1E6EB;
	font-size: 8px;
}

.carousel .item > img {
   display: block;
   line-height: 1;
}

.carousel{
	position: relative;
	
}
#hpCarousel.item { 
height: 335px;
}

.right carousel-control {
	opacity: .5;
	background-color#D1E6EB; 
}

.left carousel-control {
	opacity: .5;
	background-color#D1E6EB; 
}

/*.carousel-fade .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel-fade .active.left {left:0;opacity:0;z-index:2;}
.carousel-fade .next {left:0;opacity:1;z-index:1;}*/
/*--------------------------------------------------------------
Jumbotron
---------------------------------------------------------------*/
.jumbotron {
	margin-top: 20px;
}

.jumbotron h3 {
	font-size: 24px; 
	text-align: center;
}

#jumbo {
	font-size: 14px;
	text-align: center;
}

p. jumbotron {
	text-align: justify;
}

/*--------------------------------------------------------------
Main Section
--------------------------------------------------------------*/
#main_section {
	
}

#main_section h3 {
	text-align: center;
	-webkit-column-span: all; /* Chrome, Safari, Opera */
	column-span: all;	
	flex: 1;
}

#main_section p {
	text-align:justify;
}

.row{
	background-color: #f7f7f7;
	text-align: left;
}

.thumbnail{
	position: relative;
	width: 100%;
	height: 304px;
	background-color: #f7f7f7;
    opacity: 0.85;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

.thumbnail:hover {
	background-color: #f7f7f7;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.vacation {
	-moz-transiiton: top 0.2s;
	-o-transiition: top 0.2s;
	-webkit-transition: top 0.2s;
	transition: top 0.2s;
}

.highlight{
	top:-10px;
}

p .thumbnail { 
    text-align: justify;
}
/*----------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/
footer {
	background-color:#5FBEDB;
	vertical-align: middle;
	height: 55px;
	border-bottom: 0;
	text-align: center;
}

.footer-text{
	position:relative;
	top: 20px;
}
	
.links {
	float: right;
	vertical-align: middle;
	position: relative;
	padding-top: 10px;
	right: 10px;
}



@media screen and (min-width: 768px) {
.footer {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

footer-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
 }	
 
.links{
	width: auto;
}

.links{
	position: relative;
}
}

/*
.links::before {
	.copyright
}
.foottext {
	padding left: 309px;
	top: 25px;
	vertical-align: middle;
}
footer p {
	vertical-align: middle;
	text-align: center;
	padding-top: 15px;
	clear: right;
}

.links img{
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.links {	
	position: relative;
	padding: 15px 10px 15px 0;
	clear: both;
	float: right;
}

/*.navbar-brand img {
    max-height: 100%;
	padding-right: 15px;
}
*/

/*-------------------------------------------------------
THETEAM.HTML
----------------------------------------------------------*/
.team{
	font-size: 14px;	
}

#teamSect{
	margin-top: 20px;
}

.item-team{
	background-color: #5FBEDB;
	padding:5px;
}
.teamMembers img{
	padding-right: 20px;
}

.teamMembers p{
	padding-top: 15px;
}
/*--------------------------------------------------------
COMPANY.HTML
---------------------------------------------------------*/
.aboutimg {
	margin: 10px;
	padding: 10px;
	float: left;
	text-align: center;
}


.service{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#about p {
	margin-top: 20px;
	font-size: 14px;
	text-align:left;	
	
}

#companySection{
	padding-top: 30px;
}

.desc {
	color:#2891B5;
}

#title{
	color: #1F2193;
}

#aboutCompany jumbotron{
	padding: 15px;
}

/*#aboutFirst{
	margin-left: 10px;
	padding-left: 10px;
}*/

#aboutSecond{
	text-align: left;
	}
/*------------------------------------------------------------
SERVICE.HTML
--------------------------------------------------------------*/
.serviceimg {
	margin: 5px;
	padding-top: 20px;	
	position: relative;
	margin-top: 20px;
}

#servicesSection {
	margin-top: 25px;
	
}

.serviceRow {
	text-align: center;
}

.serviceRow p{
	text-align:left;
}

.serviceRow ul{
	text-align: left;
}

/*.serviceRow{
	border:dotted;
	border-width: thin;
	border-width: 1px;
	border-color: #5FBEDB;
}
*/
#partition {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}

/*------------------------------------------------------
Contact.html
-------------------------------------------------------*/
#contactPic{
	margin-top: 20px;
	margin-bottom: 20px;
}

#connectUs{
	border-left:ridge;
	border-spacing: 15px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.sectionTitle{
	color: #5FBEDB;
}

#contactNumber{
	border-top: inset;
	padding-top: 5px;
	padding-bottom:5px;
}

#contactEmail{
	border-top:inset;
	padding-top: 5px;
	padding-bottom: 5px;
}